body{
  background-color: rgb(0, 29, 60);
}

.template-background {
  background-image: url("../src/assets/bgtemplatenew.png");
  background-repeat: no-repeat;
  width: 66.35%;
  /* position: relative; */
}

.template-background .letterHeading {
  position: absolute;
  top: 20px;
  left: 50px;
}
